name: Deploy
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: main
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      
      - name: Install
        run: yarn

      - name: Generate epoch data
        env:
          NODE_URL: ${{ secrets.NODE_URL }}
        run: yarn generateEpochData

      - name: Build
        run: yarn build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: build # The folder the action should deploy.